@page
@using RamenRatings.WebSite.Components
@model PrivacyModel
@{
    ViewData["Title"] = "Products";
}

<!-- Create button added to other side of Products header -->
<div class="d-flex my-3 justify-content-between align-items-center mb-3">
    <h1 class="mb-0">@ViewData["Title"] Page</h1>

    <a href="/Product/Create" class="btn btn-success rounded-pill">
        ➕ Create
    </a>
</div>

<!-- Displaying a grid in a container -->
<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="fw-bold display-6">🍜 Explore Ramen Varieties</h1>
        <p class="text-muted">Manage your ramen products efficiently with quick actions</p>
        @(await Html.RenderComponentAsync<ProductGrid>(RenderMode.ServerPrerendered))
    </div>
</div>



