@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
}
<h1>About Us</h1>
<h2>Team 2 - The Dark Knight</h2>
<ul>
    <li>Lucian Petriuc</li>
    <li>Veda Ting</li>
    <li>Hema Sri</li>
    <li>Tejal Patel</li>

</ul>
<h2>Purpose</h2>
<p>This project serves as a hub for instant ramen enthusiasts to view more information about their favorite ramen, existing ratings of their favorite noodles, and contribute to the ramen community with their own ratings.</p>

