@page
@model PrivacyModel
@{
    ViewData["Title"] = "Ramen Ratings - Privacy Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <!-- Google Font for Heading -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <div class="card">
        <div class="card-header">
            Ramen Ratings Privacy Policy
        </div>
        <!-- Writes private policy in card -->
        <div class="card-body">
            <table>
                <tr>
                    <td>1</td>
                    <td>Your reviews and ratings are public to help others find the best ramen experiences.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>When submitting a new rating or review, please ensure all required fields are completed accurately.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>We do not share your personal information (email, username) with third parties without your consent.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>You are responsible for the content you submit — please respect community guidelines and avoid posting inappropriate material</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
