@page
@using RamenRatings.WebSite.Components
@model PrivacyModel
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>
    @(await Html.RenderComponentAsync<ProductGrid>(RenderMode.ServerPrerendered))


