@using RamenRatings.WebSite.Models
@using RamenRatings.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService

<!-- Create new table style using bootstrap -->
<table class="table table-hover">
    <thead>
        <tr>
            <!-- Column titles are Brand and Variety -->
            <th scope="col">Brand</th>
            <th scope="col">Variety</th>
            <th scope="col"></th> <!-- Empty header for Read column-->
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductService.GetProducts())
        {
            <tr>
                <!-- Show Brand and Variety (with Country in parentheses) for each ramen product-->
                <td>@product.Brand</td>
                <td>@product.Variety (@product.Country)</td>
                <td>
                    <!-- replace Read button with a bootstrap style button -->
                    <button type="button" class="btn btn-primary rounded-pill me-2">
                        <a class="text-white" href="/Product/Read/@product.Number">📖Read</a>
                    </button>
                    <button type="button" class="btn btn-secondary rounded-pill">
                        <a class="text-white " href="/Product/Update/@product.Number">✏️Update</a>
                    </button>
                    <button type="button" class="btn btn-primary rounded-pill">
                        <a class="text-white " href="/Product/Delete/@product.Number">🗑️Delete</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code
{
}
