@using RamenRatings.WebSite.Models
@using RamenRatings.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService

<!-- Create new table style using bootstrap -->
<table class="table table-hover my-5">
    <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Variety</th>
            <th scope="col">Country</th>
            <th scope="col">Style of Packing</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductService.GetProducts())
        {
            <tr>
                <td>@product.Brand</td>
                <td>@product.Variety</td>
                <td>@product.Country</td>
                <td>@product.Style</td>
                <td>
                    <div class="d-flex gap-2 flex-wrap">
                        <a class="btn btn-primary rounded-pill text-white" href="/Product/Read/@product.Number">📖 Read</a>
                        <a class="btn mx-2 btn-secondary rounded-pill text-white" href="/Product/Update/@product.Number">✏️ Update</a>
                        <a class="btn btn-danger rounded-pill text-white" href="/Product/Delete/@product.Number">🗑️ Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@code
{
}